body{
    background-color: #0F727A;
}


.box{
    background-color: white;
    color: #0F727A;
    width: 50%;
    height: 650px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px gray;
}

.heading{
    font-size: 25px;
    font-family: "American Typewriter";
    color: black;
    padding-top: 15px;
}

.form-control{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    padding-left: 10px;
}


.form-group{
    padding-bottom: 15px;
}

.form-group label{
    color: black;
    font-size: 20px;
    font-family: monospace;
}


.submitButton{
    background-color: #0F727A;
    color: white;
    width: 280px;
    height: 30px;
    border-radius: 20px;
}


















